
html {
    height: 100%;
    background-color: #ffe6e6;
}

body {
    height: 100%;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	background-color: #ffe6e6;
}

.header {
	font-size: 60px;
	margin-top: 50px;
	color: #4a4a4a;
	text-align: center;
	font-family: "Brush Script MT", cursive;
}

button {
	margin-top: 30px;
	padding: 10px 20px;
	border: none;
	border-radius: 50px;
	font-size: 28px;
	cursor: pointer;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 0.3s ease-in-out;
}

.yes {
	background-color: #ff69b4;
	color: #fff;
	padding: 15px 15px;
}

.no {
	background-color: #c0c0c0;
	color: #4a4a4a;
	padding: 15px 10px;
}

button:hover {
	transform: scale(1.05);
}

#nao.move {
	transform: translateX(-50px);
	transition: transform 0.5s ease-out;
}