html {
    height: 100%;
    background-color: #ffe6e6;
}

body {
    height: 100%;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	background-color: #ffe6e6;
}

.header {
	font-size: 60px;
	margin-top: 50px;
	color: #4a4a4a;
	text-align: center;
	font-family: "Brush Script MT", cursive;
}

.message {
	font-size: 30px;
	margin-top: 30px;
	color: #4a4a4a;
	text-align: center;
	font-family: "Montserrat", sans-serif;
}

.back-button {
	margin-top: 30px;
	padding: 10px 20px;
	border: none;
	border-radius: 50px;
	font-size: 28px;
	cursor: pointer;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 0.3s ease-in-out;
	background-color: #c0c0c0;
	color: #4a4a4a;
}

.back-button:hover {
	transform: scale(1.05);
}

@media screen and (max-width: 768px) {
	.header {
		font-size: 40px;
	}
	
	.message {
		font-size: 20px;
	}
	
	.back-button {
		font-size: 20px;
		padding: 5px 10px;
	}
}
